<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    <div class="welcome-text">
            <h1>
    Welcome to my home page</h1>
    <a href="/contact">Contact US</a>
        </div>
    </header>
    
</body>
</html>