<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
    <link href="css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
    <%- include("./partials/nav.ejs") %>
</header>
    <h1 class="service"> Our Services</h1>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/strategy.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Online Strategy </h5>
            <p class="card-text"> The foundations to any successful online business starts with a rock solid plan of action.</p>
           
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/design.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Design & Development</h5>
            <p class="card-text">Beautifully handcrafted designs built using the latest technologies that engage your audience .</p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/mobile.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mobile & Apps</h5>
            <p class="card-text">There's no getting away from it, soon everyone will be viewing the internet from their mobile.</p>
            
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/digital.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Digital Marketing</h5>
              <p class="card-text"> There's no dark arts or whichcraft involved, just good old fashioned knowledge and hardwork.</p>
              
            </div>
          </div>
      </div>

</body>
</html>